<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="pupil.sources" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:label="${sourceName}">

        <meta-data android:name="pupil.sources.path" android:value="${sources}" />

    </application>

</manifest>